<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Asset Simulator</title>
    </head>
    <body>
        <h1>Strategic Asset & Humman Capital Simulator</h1>
        <from method=""post">
            {% csrf_token%}
            {{ form.as_p }}
            <button type="submit">Calculate</button>
        </from>

        {% if results %}
            <hr>
            <h2>Results</h2>
            <p>Nominal Asset: {{ results.nominal|floatformat:"g" }}</p>
            <p>Real Asset: {{ results.real|floatformat:"g" }}</p>
        {% endif %}
    </body>
</html>